@import '../../Styles/global.scss';

.PaletteList{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #394bad;

    &__container{
        max-width: 80%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        @media(min-width:$sm){
            max-width: 70%;
            }
        @media(min-width:$xl){
            max-width: 60%;
            }
        @media(min-width:$xxl){
            max-width: 50%;
            }
    
    }

    &__miniPalettes{
        height: fit-content;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 2rem;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns:  1fr;
        @media(min-width:$md){
            grid-template-columns: repeat(2, 1fr);
            }
        @media(min-width:$xxl){
            grid-template-columns: repeat(3, 1fr);
            }
        
    }

    &__nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__title{
        color: white;
        font-size: 1.5rem;
        @media(min-width:$sm){
            font-size: 2rem;
            }
    }

    &__new{
        color: white;
    }
}