.CreatePalette{

}

.Drawer__content{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.Drawer__title{
    font-size: 2rem;
}

.Btn-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}